body {
  background-image: url(./assets/ushu.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.contenedor {
  display: flex;
  flex-direction: column;
}

.cuerpo {
  display: flex;
  flex-direction: row;
}
.Listado .Boton {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #ffffff;
  border-radius: 5px;
  height: 20px;
  width: 80px;
  color: #ffffff;
  margin-top: 500px;
  margin-right: 10px;
  margin-left: 15px;
  text-align: center;
}

.Formulario {
  display: flex;
  flex-direction: column;
  margin: 30px;
  min-height: calc(100vh - 120px);
  padding: 10px 120px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  border: 1px solid #d6d6e7;
  backdrop-filter: blur(1px);
}

.Formulario input {
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  cursor: text;
  font-size: 14px;
  line-height: 20px;
  padding: 0 16px;
  height: 30px;
  border: 1px solid #d6d6e7;
  border-radius: 3px;
  color: #d5d8dc;
  margin: 10px;
}

.Boton {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #d6d6e7;
  border-radius: 5px;
  height: 30px;
  width: 80px;
  color: #d5d8dc;
  margin-right: 10px;
  margin-left: 15px;
}

.Botones {
  display: flex;
  margin-top: 30px;
}
